.ReactModal__Body--open {
  overflow-y: hidden;
  position: fixed;
  width: 100%;
}

.choice-modal-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-width: none !important;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  outline: none;

  .button {
    margin-top: 0;
    background: #3C55C8;
  }
}

.choice-modal {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

.choice__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 20px 60px;
  height: 100vh;
  width: 50vw;
  font-weight: 700;
  font-size: 36px;
  outline: 0 !important;
  color: white;
  transition: transform 200ms ease-in-out;

  img {
    width: 70px;
    height: auto;
    margin-bottom: 10px;
  }

  &.choice__button--invest {
    background: #3C55C8;
  }

  &.choice__button--insure {
    background: #660E94;
  }
}

.choice__button--invest {
  width: calc(50vw + 40px);

  &:hover {
    transform: translateX(-20px);
  }
}

.choice__button--insure {
  width: calc(50vw + 40px);

  &:hover {
    transform: translateX(20px);
  }
}

.card {
  background: white;
  border-radius: 6px;
  padding: 32px 52px 48px 52px;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1);

  & + & {
    margin-top: 16px;
  }
}

.card__title {
  font-size: 24px;
  color: rgba(0,0,0,0.85);
  font-weight: 700;
}

.card__product-options,
.card__options {
  margin-top: 22px;
  display: flex;
  justify-content: space-evenly;

  &.tabs {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.card__product-option {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.container {
  max-width: 1168px;
  padding: 50px 16px;
  margin: 0 auto;
}

.container__inner {
  display: flex;
}

.card__product-option {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 20px;

  .tabs & {
    height: auto;
    border-radius: 0;
    width: 100%;
  }
}

.card__option {
  position: relative;
  height: 60px;
  width: 160px;
}

/* Hide the browser's default checkbox */
.card__product-option input,
.card__option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border-radius: 20px;
}

/* Create a custom checkbox */
.checkmark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 150px;
  border-radius: 20px;
  border: 1px solid transparent;

  &.checkmark--sum {
    position: relative;
    color: rgba(176,176,176,0.85);
    height: auto;
    width: auto;
    height: 60px;
    width: 160px;
    border-radius: 10px;
    border-color: #DFDFDF;

    .App.item-is-selected & {
      cursor: pointer;
    }
  }

  .tabs & {
    height: 50px;
    width: 100%;
    border-radius: 0px;
    background: white;
    border: 1px solid #DFDFDF;
    font-size: 24px;
    font-weight: 700;
  }
}

/* On mouse-over, add a grey background color */
.card__product-option:hover input ~ .checkmark {
  border-color: #DFDFDF;
}

.card__option:hover input ~ .checkmark--sum {
  border-color: #660E94;
  border-width: 2px;
  font-weight: 700;
  color: #660E94;
}

.tabs .card__product-option:hover input ~ .checkmark {
  color: #660E94;
}

/* When the checkbox is checked, add a blue background */
.card__product-option input:checked ~ .checkmark {
  box-shadow: 0 2px 40px 0 rgba(0,0,0,0.2);
  transition: box-shadow 200ms linear;
}

.card__product-option:hover input:checked ~ .checkmark {
  border-color: transparent;
}

.tabs .card__product-option input:checked ~ .checkmark {
  box-shadow: none;
  border-color: #660E94;
  border-width: 2px;
  font-weight: 700;
  color: #660E94;
}

.card__product-option input:checked ~ .checkmark .icon {
  filter: grayscale(0);
}

.card__option input:checked ~ .checkmark--sum {
  background-color: #660E94;
  font-weight: 700;
  color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.card__product-option input:checked ~ .checkmark:after {
  display: block;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-top: 24px;
  color: white;
  font-weight: 700;
  border-radius: 6px;
  background-color: #0F9D03;
  border: none;
  width: 270px;
  height: 64px;
  font-size: 24px;
  cursor: pointer;
  outline: 0 !important;
}

.icon {
  margin-bottom: 20px;
  width: 90px;
  height: auto;
  transition: filter 200ms linear;

  &.icon--google {
    width: 70px;
  }

  &.icon--azure {
    width: 64px;
  }

  &.icon--zone {
    width: 110px;
  }

  .App.item-is-selected & {
    filter: grayscale(100%);
  }
}

.ReactModal__Content {
  top: 50% !important;
  transform: translateY(-50%);
  text-align: center;
  max-width: 371px;
  min-height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 24px;
  }
}

.modal__button {
  position: absolute;
  right: 8px;
  top: 8px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.ReactModal__Content {
  overflow: hidden !important;
}