table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
}

th {
	text-align: left;
}

thead {
	th {
        color: white;
		background-color: #4556a7;
	}
}

tbody {
	tr {
        &:nth-child(even) {
            background: #e3e3e3;
        }
		&:hover {
			background-color: rgba(black,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
            cursor: pointer;

			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(#E7E247,0.2);
                z-index: -1;
			}
		}
	}
}
.card_title {
    font-size: 24px;
    color: rgba(0,0,0,0.85);
    font-weight: 700;
    margin-bottom: 20px
  }